:host{
  min-height: 150px;
  min-width: 200px;
}
div{
  display: flex;
  justify-content: center;
  align-content: center;
}



.mat-dialog-actions {
  border: #ebebeb 1px solid;
  border-radius: 5px;
  margin-bottom: -20px;
  background-color: #f0f0f0;
}
