<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      Add Message
    </mat-expansion-panel-header>
    <app-message-add></app-message-add>
  </mat-expansion-panel>
</mat-accordion>

<mat-card>
  <mat-card-content fxLayout="column"
                    fxLayoutAlign="center center"
                    fxLayoutGap="5px">

    <div class="div-row"
         fxLayout="row"
         fxLayoutWrap
         fxLayoutAlign="center center"
         fxLayoutGap="10px">
      <p fxFlex="20%">Message Creator </p>
      <p fxFlex="80%">Message </p>
    </div>
  </mat-card-content>
</mat-card>
{{selectedMessage?.id}}
<div [@listState]="messages?.length">
  <app-messages-item (click)="onSelectMessage(message)"
                     [@markedState]="message === selectedMessage ?'marked': 'default'"
                     *ngFor="let message of messages"
                     [message]="message">
  </app-messages-item>
</div>
