<mat-card>
  <mat-card-content fxLayout="column"
                    fxLayoutAlign="center center"
                    fxLayoutGap="5px">
    <div class="div-row"
         fxLayout="row"
         fxLayoutWrap
         fxLayoutAlign="center center"
         fxLayoutGap="10px">
      <p fxFlex="20%">Message Creator </p>
      <p fxFlex="80%">Message </p>
    </div>
  </mat-card-content>
</mat-card>
<div [@listState]="messages?.length">
  <app-messages-item *ngFor="let message of messages"
                     [message]="message">
  </app-messages-item>
</div>
