mat-form-field{
  width: 70%;
}

mat-action-row{
  width: 70%;
}

button{
  display: inline-block;
}

.add-message{
  background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)),
  url(../../../../assets/img/edit_background.jpeg);
  background-size: cover;
  background-position: center;
  height: 200px;
  background-attachment: fixed;
}

.add-message input{
  color: white !important;
}
