<mat-card>
  <mat-card-content>
    <button (click)="onClick()">Show/hide</button>
    <p *ngIf="shown"
      @showState>
      now you see me
    </p>
    <br>
    <button (click)="width = width - 50">Shrink</button>
    <button (click)="animate = !animate">Animate me</button>
    <p
      [@animateState]="animate ? 'animated' : 'noAnimation'"
      [ngStyle]="{'width.px': width}">Shrink me</p>
    <br>

    <button (click)="onAddElement()">Add Element</button>
    <div
      *ngFor="let testResult of testResults"
      @showState
      class="test-result">{{ testResult }}</div>

  </mat-card-content>
</mat-card>
