<div fxLayout="column"
     fxLayoutAlign="center center"
     fxLayoutGap="5px">
  <div class="div-row"
       fxLayout="row"
       fxLayoutWrap
       fxLayoutAlign="center center"
       fxLayoutGap="10px">
    <p fxFlex="20%">{{message.creator}} </p>
    <p fxFlex="60%">{{message.message}} </p>
    <p fxFlex="20%">{{message.version}} </p>


  </div>

  <div class="div-row"
       *ngIf="message.id===selectedMessageId">
    <mat-accordion >
      <mat-expansion-panel >
        <mat-expansion-panel-header>
          Edit
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
          <app-message-item-edit></app-message-item-edit>
        </ng-template>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

</div>
