:host {
  display: block;
  border-radius: 5px;
}

p{
  display: inline-block;
}
mat-card{
  display: block;

}

.div-row{
  width: 90%;
  display: block;
}

div{
  display: block;
  padding: 5px;

}
